@page "/login"
@using System.ComponentModel.DataAnnotations
@using System.Text.Json

@rendermode InteractiveServer

<center>
    <h3>Log In</h3>
    <div style="justify-content:center;text-align:left;width:75%;">
    <RadzenTemplateForm Style="" TItem="LoginViewModel" Data=@model Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit>
        @if (showError)
        {
            <RadzenAlert Variant="@Variant.Filled" AlertStyle=@AlertStyle.Primary Size=@AlertSize.Small Shade="Shade.Lighter" AllowClose=false>
                <RadzenText TagName="TagName.P">@errorMessage</RadzenText>
                </RadzenAlert>
        }
        <RadzenStack Gap="1rem" Class="rz-p-sm-12">
            <RadzenFormField Text="Email" Variant="@variant">
                <ChildContent>
                    <RadzenTextBox Name="email" @bind-Value=@model.Email />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="email" Text="Email is required." />
                </Helper>
            </RadzenFormField>
            <RadzenFormField Text="Password" Variant="@variant">
                <ChildContent>
                    <RadzenTextBox Name="Password" @bind-Value=@model.Password />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="Password" Text="Password is required." />
                </Helper>
            </RadzenFormField>
            <RadzenButton ButtonType="ButtonType.Submit" Text="Log In"></RadzenButton>
        </RadzenStack>
    </RadzenTemplateForm>

</div></center>

@code {

    Variant variant = Variant.Outlined;


    private LoginViewModel model = new LoginViewModel();
    private string? errorMessage;
    private bool showError = false;


    void OnSubmit(LoginViewModel model)
    {

        if (model.Password.Length <= 3 || !model.Email.Contains("@"))
        {
            showError = true;
            errorMessage = "Invalid Data!";
        }
        else
        {
            showError = false;
            errorMessage = "";
            //POST DATA
        }
    }

    void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {
        
    }
}
