@page "/editteam/{id}"

@inject NavigationManager nManager
@inject Radzen.DialogService dialogService

@inject IHttpClientFactory httpClient
@inject IConfiguration configuration
@inject ITokenService tokenService
@inject IHttpClientFactory httpClient
@inject IWebHostEnvironment Environment
@inject INotifier notifier

@inject ProtectedLocalStorage _localStorage
@inject NavigationManager NavigationManager

@rendermode InteractiveServer

<h3>Edit Team</h3>



    <div class="rz-p-sm-12 rz-text-align-center">
        <center></center><br />
        <ChangeTeamMembers @ref=@component id="@id" StateChange="@CheckButtonState" ></ChangeTeamMembers>
        
    </div>
    <RadzenButton Click=@Click Text="Add Player To Team" ButtonStyle="ButtonStyle.Primary"  />





@code {

    [Parameter] public string id { get; set; }
    bool isValueInitial = true;
    ChangeTeamMembers component;

    public void CheckButtonState()
    {
        isValueInitial = component.isValueInitial;
        //StateHasChanged();
    }

    public void Click()
    {
        StateHasChanged();
    }
}
