@page "/editteam/{id}"

@inherits ComponentBase

@rendermode InteractiveServer

<h3 class="titleEdit">Edit Team</h3>

@if (isLogged)
{
    <div class="edit-team-container">
        <div class="left-container">
            <ChangeName @ref=@changeTeamName
                        StateChange=@CheckButtonState />
            <ChangeTeamMembers @ref=@changeTeamMembers id="@id" StateChange="@CheckButtonState" />
        </div>

        <div class="right-container">
            <ImageUpload @ref=@changeTeamLogo
                         SetImageFor="@ImageUpload.SetImageForOptions.Team"
                         StateChange=@CheckButtonState />
        </div>
    </div>

    <center>
        <RadzenButton Click=@OnClick Text="Save Changes" ButtonStyle="ButtonStyle.Primary" Disabled="@isValueInitial" Class="SaveButtonEdit" />
    </center>
}
