@page "/manageteams"


@inherits ComponentBase

@rendermode InteractiveServer


<center><h1>Manage Teams</h1></center>

<RadzenDataGrid AllowFiltering="true"
                FilterPopupRenderMode="PopupRenderMode.OnDemand"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                AllowPaging="true"
                PageSize="7"
                TItem="TeamDto"
                AllowSorting="true" Data="@teams" ColumnWidth="200px"
                SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selectedTeam
                RowClick="@(args => Update(args))"
                CellContextMenu="@OnCellContextMenu">

    <HeaderTemplate>
        <RadzenButton Style="margin-right:5px;" Icon="note_add" Text="Create Team" ButtonStyle="ButtonStyle.Secondary" Click=@OpenCreateTeam />
        <RadzenButton Style="margin-right:5px;" Disabled=@disabledEdit Click="@(()=> OpenEditTeam(selectedTeam.FirstOrDefault()!.Id.ToString()))" Icon="edit" Text="Edit" />
    </HeaderTemplate>
    <Columns>
        <RadzenDataGridColumn TItem="TeamDto" Property="Name" Title="Name" />
        <RadzenDataGridColumn TItem="TeamDto" Property="CreatedOn" Title="Created On" />
        <RadzenDataGridColumn TItem="TeamDto" Property="CreatedBy" Title="Created By" />
        <RadzenDataGridColumn TItem="TeamDto" Property="TeamTypeName" Title="Team Type" />
    </Columns>
</RadzenDataGrid>


