@page "/myteams"

@inject IHttpClientFactory httpClient
@inject IConfiguration configuration
@inject ITokenService tokenService

@inject NavigationManager nManager
@inject ProtectedLocalStorage _localStorage
@inject NavigationManager NavigationManager


@rendermode InteractiveServer
<h3>MyTeams</h3>

@code {
    
}
