@page "/profile"


@inherits ComponentBase

@rendermode InteractiveServer

<PageTitle>Profile</PageTitle>

<div class="mainProfile">
    <center>
        <h1>@(username)'s profile</h1>
        <h2>Email: @email</h2>
        
        <ChangeName @ref=@changeUsername
                    StateChange=@CheckButtonState />
        
        <ImageUpload @ref=@playerAvatar
                     SetImageFor="@ImageUpload.SetImageForOptions.Avatar"
                     StateChange=@CheckButtonState />

        <RadzenButton Text="Save Changes" Disabled="@isValueInitial" Click="OnClick"></RadzenButton>
    </center>
</div>

@code {
    
}