@page "/todo"
@rendermode InteractiveServer

<h3>Todo</h3>
<h4>You have @todoItems.Count(item => item.IsDone == false) undone tasks</h4>

<ul>
    @foreach (var todo in todoItems)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            <input @bind="todo.Title" />
        </li>
    }
</ul>

<input placeholder="Add something todo" @bind="newTodo" required/>
<button @onclick="AddTodo">Add Todo</button>

@code {
    private List<TodoItem> todoItems = new();
    string newTodo = "";

    public void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todoItems.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }
}
