@inherits ComponentBase

@rendermode InteractiveServer

<div style="@Style">
    <RadzenTextBox class="@Class" Value="@CurrentValue" @oninput=@(args => OnChange(args.Value?.ToString())) />
</div>
    
