@inherits ComponentBase

@rendermode InteractiveServer

<div class="collapsible-panel" @onclick="HandleClick">
    <div class="collapsible-header @(isBreathing ? "breathe" : "")">
        <span class="collapsible-title">@Title</span>
        <span class="collapsible-icon">@(!isCollapsed ? "▲" : "▼")</span>
    </div>
    <div class="collapsible-content" style="@(isCollapsed ? "display: none;" : "")">
        @ChildContent
    </div>
</div>