@page "/createchampionship"



@rendermode InteractiveServer
@inherits ComponentBase

<center><h1 style="color:white;">Create Championship</h1></center>

<div class="form-container">
    <RadzenTemplateForm TItem="ChampionshipDto" Data="@championshipToAdd" Submit="@OnSubmit" InvalidSubmit="@OnInvalidSubmit">
        <div class="form-row">
            <div class="form-group half-width">
                <RadzenLabel Style="color:white;" Text="Championship Name" Class="form-label" />
                <RadzenTextBox Name="ChampionshipName" @bind-Value="championshipToAdd.Name" Style="width: 100%;" Class="form-control" />
                <RadzenRequiredValidator Component="ChampionshipName" Text="Championship Name is required" />
            </div>

        </div>
        <div class="form-row">
            <div class="form-group half-width">
                <RadzenLabel Style="color:white;" Text="Championship Type" Class="form-label" />
                <RadzenDropDown Data="championshipTypes"
                                @bind-Value="championshipToAdd.ChampionshipTypeName"
                                Name="ChampionshipTypeName"
                                TextProperty="Name"
                                ValueProperty="Name"
                                TValue="string"
                                Style="width: 100%;" />
                <RadzenRequiredValidator Component="ChampionshipTypeName" Text="Championship Type is required" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group half-width">
                <RadzenLabel Style="color:white;" Text="Game Type" Class="form-label" />
                <RadzenDropDown Data="gameTypes"
                                @bind-Value="GameTypeName"
                                Name="GameType"
                                TextProperty="Name"
                                ValueProperty="Name"
                                TValue="string"
                                Style="width: 100%;" />
                <RadzenRequiredValidator Component="GameType" Text="Game Type is required" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group half-width">
                <RadzenLabel Style="color:white;" Text="Lot Date" Class="form-label" />
                <RadzenDatePicker Kind="DateTimeKind.Local"
                                  Name="LotDate"
                                  ShowTime="true"
                                  DateFormat="dd/MM/yyyy HH:mm"
                                  @bind-Value="championshipToAdd.LotDate"
                                  Style="width: 100%;"
                                  DateRender="LotDateRender" />
            </div>
            <div class="form-group half-width">
                <RadzenLabel Style="color:white;" Text="Championship Date" Class="form-label" />
                <RadzenDatePicker Kind="DateTimeKind.Local"
                                  Name="Date"
                                  ShowTime="true"
                                  DateFormat="dd/MM/yyyy HH:mm"
                                  @bind-Value="championshipToAdd.Date"
                                  Style="width: 100%;"
                                  DateRender="DateRender"
                                  Disabled=@(championshipToAdd.LotDate == null ? true : false) />

                <RadzenCompareValidator Text="Date should be greater than Lot Date!" Value=@championshipToAdd.LotDate Component="Date" Style="position: absolute" Operator=CompareOperator.GreaterThanEqual />
            </div>

        </div>   <br />
        <div class="form-actions">
            <RadzenButton ButtonType="Radzen.ButtonType.Submit" Icon="add_circle" Text="Create" />
        </div>
    </RadzenTemplateForm>
</div>
