@page "/admin"
@inject NavigationManager NavigationManager
@inject ITokenService tokenService
@inject NotificationService NotificationService;


@rendermode InteractiveServer

@if (isAdmin)
{
    <h1>Adminceto BACE!</h1>
    <RadzenButton Click="@(() => RedirectToAnotherPage("gamestatusmain"))" Text="Manage Game Statuses" ButtonStyle="ButtonStyle.Secondary" />
    <RadzenButton Click="@(() => RedirectToAnotherPage("gametypemain"))" Text="Manage Game Types" ButtonStyle="ButtonStyle.Secondary" />
    <RadzenButton Click="@(() => RedirectToAnotherPage("TeamTypeMain"))" Text="Manage Team Types" ButtonStyle="ButtonStyle.Secondary" />
}

@code {
    bool isAdmin = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (await tokenService.ValidateToken(true))
            {
                isAdmin = true;
                StateHasChanged();
            }
            else 
            {
                SendErrorMessage("Access denied!");
                SendWarningMessage("If you believe there is an error, please contact administrator!");
                NavigationManager.NavigateTo("/"); 
            }
        }
    }

    private void RedirectToAnotherPage(string url)
    {
        NavigationManager.NavigateTo(url);
    }


    protected void SendErrorMessage(string message)
    {
        NotificationService.Notify(new NotificationMessage
            {
                Detail = message,
                Severity = NotificationSeverity.Error
            });
    }
    protected void SendWarningMessage(string message)
    {
        NotificationService.Notify(new NotificationMessage
            {
                Detail = message,
                Severity = NotificationSeverity.Warning
            });
    }
    protected void SendInformationalMessage(string message)
    {
        NotificationService.Notify(new NotificationMessage
            {
                Detail = message,
                Severity = NotificationSeverity.Info
            });
    }
}
