@page "/admin"
@inject NavigationManager Navigation

@rendermode InteractiveServer

<h1>Adminceto BACE!</h1>
<RadzenButton Click="@(() => RedirectToAnotherPage("gamestatusmain"))" Text="Manage Game Statuses" ButtonStyle="ButtonStyle.Secondary" />
<RadzenButton Click="@(() => RedirectToAnotherPage("gametypemain"))" Text="Manage Game Types" ButtonStyle="ButtonStyle.Secondary" />
<RadzenButton Click="@(() => RedirectToAnotherPage("TeamTypeMain"))" Text="Manage Team Types" ButtonStyle="ButtonStyle.Secondary" />

@code {
    private void RedirectToAnotherPage(string url)
    {
        Navigation.NavigateTo(url);
    }
}
