@page "/"
@page "/home"

@inherits ComponentBase

@rendermode InteractiveServer


<PageTitle>Home</PageTitle>

<div class="container mt-4">
    <Carousel @bind-SelectedSlide="@selectedSlide" Autoplay Interval="5000" AutoRepeat Loop="true">
         <CarouselSlide Name="1">
             <div class="carouselItem">
                <ChampionshipMaster.Web.Components.Pages.User.Team.TeamHistory fromHomePage=true id="@(bestTeam.Id.ToString())"></ChampionshipMaster.Web.Components.Pages.User.Team.TeamHistory>
             </div>
         </CarouselSlide>
         <CarouselSlide Name="2">
             <div class="carouselItem">
                 <a @onclick="openCreateTeam">
                     <Image Source="Images/teamvsteam.png" class="d-block w-100 cover" Alt="FoosBallRules" />
                 </a>
                 <div class="glassmorphism carousel-caption d-none d-md-block">
                     <h4>Create your own team!</h4>
                     <h5>Team creation is one click away from you!</h5>
                 </div>
             </div>
         </CarouselSlide>
         <CarouselSlide Name="3">
             <div class="carouselItem">
                 <a @onclick="openChampionship">
                     <Image Source="/images/tournament.jpg" class="d-block w-100 scaledown" Alt="Slide 2" />
                 </a>
                 <div class="glassmorphism carousel-caption d-none d-md-block">
                     <h4>Take your first adventure!</h4>
                     <h5>Join your first championship now!</h5>
                 </div>
             </div>
         </CarouselSlide>
         <CarouselSlide Name="4">
             <div class="carouselItem">
                 <a @onclick="openCreateTeam">
                     <Image Source="/images/mk.jpg" class="d-block w-100 cover" Alt="Slide 2" />
                 </a>
                 <div class="glassmorphism carousel-caption d-none d-md-block">
                     <h4>Mortal Kombat 1v1 Battles!</h4>
                     <h5>You can start any time, create team!</h5>
                 </div>
             </div>
         </CarouselSlide>
         <CarouselSlide Name="5">
             <div class="carouselItem">
                 <a @onclick="openRulesPage">
                     <video autoplay loop muted>
                         <source src="/videos/foosball.mp4" type="video/mp4">
                         Your browser does not support the video tag.
                     </video>
                 </a>
                 <div class="glassmorphism carousel-caption d-none d-md-block">
                     <h4>See foosball rules!</h4>
                     <h5>With a click of a button you can go to rules page!</h5>
                 </div>
             </div>
         </CarouselSlide>
     </Carousel>
 </div>

 <style>
     body {
         background-color: #706c6c;
     }

     .carouselItem {
         width: 1366px;
         height: 768px;
         overflow: hidden;
         object-fit: fill;
     }

     video {
         width: 100%;
         height: 100%;
         object-fit: fill; /* or 'cover', 'contain', 'none', depending on the desired effect */
     }

     .glassmorphism {
         background: rgba(255, 255, 255, 0.2); /* Background color with transparency */
         backdrop-filter: blur(15px); /* Apply blur effect */
         border-radius: 10px; /* Rounded corners */
         border: 1px solid rgba(255, 255, 255, 0.22); /* Border with transparency */
         box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.25); /* Box shadow */
         color: black;
     }
 </style>
 @code {
    private string selectedSlide = "1";
 }