@page "/info"

@rendermode InteractiveServer

<center style="color:white;"><h1>Foosball Rules</h1></center>
<center>
    <div>
        <RadzenImage Style="height:25%;" class="p-1 rz-color-on-warning rz-text-align-center" Path="Images/rules.png" AlternateText="rules" />
    </div>
</center>


@code {

}
