@page "/championshipDetails/{id}"

@inherits ComponentBase

@rendermode InteractiveServer


<PageTitle>Championship Info</PageTitle>

@if(championshipWithDetails != null)
{
    <center><h1 style="color:white;">@championshipWithDetails.Name</h1></center>
}

<RadzenDataList AllowVirtualization=@true
                Style="height:550px;overflow:auto;"
                WrapItems=@false AllowPaging=@false
                Data="@games" TItem="GameDto">
    <Template Context="game">
        <GameCard Game="@game" Style="max-height:250px;"></GameCard>
    </Template>
</RadzenDataList>

@code {

    
}
