@page "/addchampionshipstatus"
@using System.ComponentModel.DataAnnotations
@using System.Text.Json

@rendermode InteractiveServer



<center>
    <h3>Add Championship Status</h3>
    <div style="justify-content:center;text-align:left;width:75%;">
        <RadzenTemplateForm Style="" TItem="ChampionshipStatus" Data=@model Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit>
            @if (showError)
            {
                <RadzenAlert Variant="@Variant.Filled" AlertStyle=@AlertStyle.Primary Size=@AlertSize.Small Shade="Shade.Lighter" AllowClose=false>
                    <RadzenText TagName="TagName.P">@errorMessage</RadzenText>
                </RadzenAlert>
            }
            <RadzenStack Gap="1rem" Class="rz-p-sm-12">
                <RadzenFormField Text="Championship Status Name" Variant="@variant">
                    <ChildContent>
                        <RadzenTextBox Name="Name" @bind-Value=@model.Name />
                    </ChildContent>
                    <Helper>
                        <RadzenRequiredValidator Component="Name" Text="Championship Status Name is required." />
                    </Helper>
                </RadzenFormField>
                <RadzenButton ButtonType="ButtonType.Submit" Text="Add Championship Status"></RadzenButton>
            </RadzenStack>
        </RadzenTemplateForm>

    </div>
</center>

@code {

    Variant variant = Variant.Outlined;


    private ChampionshipStatus model = new ChampionshipStatus();
    private string? errorMessage;
    private bool showError = false;


    void OnSubmit(ChampionshipStatus model)
    {

        if (model.Name.Length <= 3)
        {
            showError = true;
            errorMessage = "Invalid Data!";
        }
        else
        {
            showError = false;
            errorMessage = "";
            //POST DATA
        }
    }
    void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {

    }
}
